* {
  box-sizing: border-box;
}
.container {
  width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  color: white;
}
body {
  background: linear-gradient(to right, blue, aqua);
}
.box {
  display: flex;
  margin-top: 150px;
}
@keyframes texts {
  0% {
    transform: translatex(-300px);
  }
  100% {
    transform: translatex(5vh);
  }
}
.image {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 blue;
  transform: translateY(-300px);
  animation-name: image;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes image {
  0% {
    transform: translatex(300px);
  }
  100% {
    transform: translatex(5vh);
  }
}
.heading {
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 25px;
}
.card {
  background-color: rgb(255, 255, 255);
  width: 340px;
  color: black;
  padding: 15px 15px;
}
.btn {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(110deg, aqua, blue);
  font-size: 16px;
  font-weight: 500;
}
.malibu {
  display: flex;
  gap: 140px;
}
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 10px;
}
.login {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(110deg, aqua, blue);
  border: none;
}
.href {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.login:hover {
  width: 110px;
  height: 60px;
  border-radius: 35px;
}
.dollor {
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 15px;
}
