* {
  box-sizing: border-box;
}
.container {
  width: 1340px;
}
body {
  background: linear-gradient(90deg, blue, aqua);
}
.frm {
  background-color: white;
  justify-content: center;
  width: 360px;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-left: 600px;
  text-align: center;
  height: 460px;
  padding-top: 15px;
  padding-bottom: 40px;
  border-radius: 30px;
  box-shadow: 0 16px 16px 0 #00000033, 0 40px 40px 0 #00000033;
  animation: frm 1 forwards linear 2s;
  transform: translateY(-550px);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.inp {
  padding: 25px 60px;
  border-radius: 15px;
  margin-top: 30px;
  animation: inp 1 forwards linear 2s;
  transform: scale(-50px);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes frm {
  0% {
    transform: translatey(-3000);
  }
  100% {
    transform: translatey(1vh);
  }
}

@keyframes btn {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(1vh);
  }
}
@keyframes inp {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(1vh);
  }
}
.btn {
  padding: 15px 70px;
  margin-top: 55px;
  border: none;
  background: linear-gradient(90deg, blue, aqua);
  font-size: 20px;
  font: 900;
  color: white;
  border-radius: 25px;
  animation: inp 1 forwards linear 2s;
  transform: scale(-50px);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
