.container {
  width: 1470px;
  padding: 20px;
}
.one-img {
  width: 60px;
  height: 40px;
  margin-top: 5px;
}
.one {
  display: flex;
  gap: 10px;
  background: linear-gradient(110deg, rgb(1, 208, 255), aqua);
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 2px;
}
.texts {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
@keyframes png {
  0% {
    transform: translatex(300px);
  }
  100% {
    transform: translatex(5vh);
  }
}
.notbook {
  font-size: 48px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.kompyuter {
  font-size: 25px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text {
  transform: translateY(300px);
  animation-name: text;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-top: 100px;
}
.kompaniya {
  font-size: 21px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 700px;
  margin-left: 400px;
}
.information-cards {
  text-align: center;
}
.information {
  font-size: 38px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@keyframes text {
  0% {
    transform: translatex(-300px);
  }
  100% {
    transform: translatex(5vh);
  }
}
.header {
  transform: translateY(-300px);
  animation-name: header;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes header {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(5vh);
  }
}
.notbok {
  width: 700px;
  height: 450px;
  margin-top: 70px;
}
.png {
  width: 700px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgb(1, 208, 255), 0 6px 20px 0 rgb(1, 208, 255);
  border-radius: 50px;
  transform: translateY(-300px);
  animation-name: png;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-right: 100px;
}
.head {
  justify-content: space-between;
  display: flex;
}
.btns {
  display: flex;
  gap: 50px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.head-text {
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
.top-left {
  width: 130px;
  height: 50px;
  background: linear-gradient(110deg, rgb(1, 208, 255), aqua);
  color: black;
  border-radius: 32px;
  font-size: 15px;
  font-weight: 500;
  border: none;
}
.cards {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: 135px;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 4px solid rgb(1, 208, 255);
  border-radius: 20px;
  margin-top: 30px;
}
.uzum {
  width: 250px;
  height: 250px;
  border-radius: 18px;
  margin-left: 25px;
}
.sotuv {
  font-size: 48px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.card-text {
  margin-left: 25px;
  margin-right: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ertaga {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 32px;
  background-color: rgb(1, 208, 255);
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.rasm {
  width: 420px;
  height: 250px;
  border-radius: 20px;
}
.images {
  display: flex;
  justify-content: space-between;
}
.images-text {
  text-align: center;
}
.login {
  background: linear-gradient(110deg, rgb(1, 208, 255), aqua);
  border: none;
  border-radius: 32px;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}
.form {
  text-align: center;
  margin-top: 100px;
}
.href {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
