* {
  box-sizing: border-box;
}
.container {
  width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  height: 500px;
  padding-top: 150px;
  margin-top: 70px;
  color: rgb(232, 231, 231);
}
.text {
  font-size: 25px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-image: url(./image.png);
}
.bmw {
  font-size: 58px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btn {
  width: 160px;
  height: 50px;
  border: none;
  border: 3px solid white;
  color: white;
  background-color: black;
  background-color: none;
  animation: btn forwards linear 2s;
  transform: scale(-50px);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 15px;
  font-weight: 500;
  font-style: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@keyframes btn {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(1vh);
  }
}
.href {
  text-decoration: none;
  color: white;
}
